---
layout: page
show_sidebar: false
---

<div class="columns is-multiline">
    <div class="column is-12">
        {{ content }}
    </div>

    <div class="column is-12">
        {% assign todayDate = "now" | date: "%Y-%m-%d %H:%M" %}
        {% if page.year %}
            {% assign internships = site.data.internships.projects | where_exp: "project", "project.year == page.year" | where_exp: "project", "project.applicationEnd < todayDate" %}
            {% include list-internships.html source=internships sort="title" %}
        {% else %}
            {% assign internships = site.data.internships.projects | where_exp: "project", "project.applicationEnd >= todayDate" %}
            {% if internships and internships.size > 0 %}
                {% include list-internships.html source=internships %}
            {% else %}
                <p><i>No opportunities currently available.</i></p>
            {% endif %}
        {% endif %}
    </div>
</div>