---
layout: page
---

{% assign toolFromId = site.data.tools | where: "id", page.tool %}
{% if toolFromId.size > 0 %}
    {% assign tool = toolFromId | first %}
{% else %}
    {% assign tool = nil %}
{% endif %}

<span id="set-title">{{ tool.name }}</span>

<div class="columns is-multiline">

    <div class="column is-12">
        {% if site.entity_type == "unit" and tool.urlDocumentation.center %}
            <div class="notification is-warning">
                <p>A general description is available on the <a href="{{ tool.urlDocumentation.center | prepend: site.organization.center.website }}">website of the Center</a>.</p>
            </div>
        {% endif %}
        {% if tool.logo %}
            {% assign checkURL = tool.logo | split: "http" %}
            {% if checkURL.size > 0 and checkURL[0] == "" %}
                <img class="logo pull-right" src="{{ tool.logo }}" />
            {% else %}
                <img class="logo pull-right" src="/assets/areas/projects/{{ tool.logo }}" />
            {% endif %}
        {% endif %}
        {{ content }}
    </div>

    {% if site.entity_type == "center" and project.url.units %}
        <div class="column units-details is-12">
            <h1 id="title-units-details">Details on the Units' Websites</h1>
            {% include list-unit-links.html source=tool.urlDocumentation.units %}
        </div>
    {% endif %}
</div>
